a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
/*内容*/
input, select {
    outline: 0;
    font-family: "Microsoft YaHei", "Hiragino Sans GB";
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #DFDFDF;
}
img {
    border: 0;
    vertical-align: middle;
}
/*清除浮动*/
.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
